html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

div.pimg1, div.pimg2, div.pimg3 {
  position: relative;
  opacity: .7;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.pimg1 {
  background: url("raised-building-frame-169647.jpg") no-repeat;
  min-height: 100%;
}


.pimg2 {
  background: url("alone-buildings-city-cityscape-220444.jpg") no-repeat;
  min-height: 400px;
  height: 100%;

}

.pimg3 {
  background: url("architecture-buildings-business-city-325185.jpg") no-repeat;
  min-height: 400px;
  height: 100%;
}

.ptext {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  z-index: 100;
  text-align: center;
  transform: translate(-50%, -50%);
}


.ptext .border {
  background: #111;
  color: #fff;
  padding: 20px;
}

section {
  text-align: center;
  padding: 3em 5em;
}


.section-dark {
  background: #333;
  color: #fff;
}

.ptext .border.trans{
  background: transparent;

}